In [1]:
!pip install bs4

Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
Requirement already satisfied: beautifulsoup4 in c:\users\roshanv\anaconda3\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\roshanv\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py): started
  Building wheel for bs4 (setup.py): finished with status 'done'
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1271 sha256=7097f083ee0b71d196b58ab88dc02310e3d61a702a11eeb8a9dd0f96daa6bcd5
  Stored in directory: c:\users\roshanv\appdata\local\pip\cache\wheels\73\2b\cb\099980278a0c9a3e57ff1a89875ec07bfa0b6fcbebb9a8cad3
Successfully built bs4
Installing collected packages: bs4
Successfully installed bs4-0.0.1

In [2]:
!pip install requests

Requirement already satisfied: requests in c:\users\roshanv\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\roshanv\anaconda3\lib\site-packages (from requests) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\roshanv\anaconda3\lib\site-packages (from requests) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\roshanv\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\roshanv\anaconda3\lib\site-packages (from requests) (2021.10.8)

In [44]:
#Write a python program to display all the header tags from wikipedia.org.

from urllib.request import urlopen
from bs4 import BeautifulSoup
html = urlopen('https://en.wikipedia.org/wiki/Main_Page')
bs = BeautifulSoup(html, "html.parser")
titles = bs.find_all(['h1', 'h2','h3','h4','h5','h6'])
print('List all the header tags :', *titles, sep='\n\n')

List all the header tags :

<h1 class="firstHeading mw-first-heading" id="firstHeading" style="display: none">Main Page</h1>

<h1><span class="mw-headline" id="Welcome_to_Wikipedia">Welcome to <a href="/wiki/Wikipedia" title="Wikipedia">Wikipedia</a></span></h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

<h2>Navigation menu</h2>

<h3 class="vector-menu-heading" id="p-personal-label">
<span class="vector-menu-heading-label">Personal tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-namespaces-label">
<span class="vector-menu-heading-label">Namespaces</span>
</h3>

<h3 class="vector-menu-heading" id="p-views-label">
<span class="vector-menu-heading-label">Views</span>
</h3>

<h3>
<label for="searchInput">Search</label>
</h3>

<h3 class="vector-menu-heading" id="p-navigation-label">
<span class="vector-menu-heading-label">Navigation</span>
</h3>

<h3 class="vector-menu-heading" id="p-interaction-label">
<span class="vector-menu-heading-label">Contribute</span>
</h3>

<h3 class="vector-menu-heading" id="p-tb-label">
<span class="vector-menu-heading-label">Tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-coll-print_export-label">
<span class="vector-menu-heading-label">Print/export</span>
</h3>

<h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span class="vector-menu-heading-label">In other projects</span>
</h3>

<h3 class="vector-menu-heading" id="p-lang-label">
<span class="vector-menu-heading-label">Languages</span>
</h3>

In [23]:
#Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) 
#  and make data frame.

from bs4 import BeautifulSoup
import requests
import re
import pandas as pd


# Downloading imdb top 250 movie's data
url = 'http://www.imdb.com/chart/top'
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")
movies = soup.select('td.titleColumn')
crew = [a.attrs.get('title') for a in soup.select('td.titleColumn a')]
ratings = [b.attrs.get('data-value')
        for b in soup.select('td.posterColumn span[name=ir]')]




# create a empty list for storing
# movie information
list = []

# Iterating over movies to extract
# each movie's details
for index in range(0,100):
    
    # Separating movie into: 'place',
    # 'title', 'year'
    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    place = movie[:len(str(index))-(len(movie))]
    data = {"place": place,
            "movie_title": movie_title,
            "rating": ratings[index],
            "year": year,
            "star_cast": crew[index],
            }
    list.append(data)

# printing movie details with its rating.


##.......##
df = pd.DataFrame(list)
print(df)

   place                        movie_title             rating  year  \
0      1           The Shawshank Redemption  9.234512632940211  1994
1      2                      The Godfather  9.156487240335014  1972
2      3                    The Dark Knight   8.98680645530797  2008
3      4              The Godfather Part II  8.984648293572267  1974
4      5                       12 Angry Men  8.948897669577086  1957
..   ...                                ...                ...   ...
95    96                             Jagten  8.255584701495112  2012
96    97  M - Eine Stadt sucht einen Mörder  8.254676472789424  1931
97    98                 North by Northwest  8.252984757557929  1959
98    99                            Vertigo  8.247314672279423  1958
99    10                       Idi i smotri  8.246642763834718  1985

                                            star_cast
0   Frank Darabont (dir.), Tim Robbins, Morgan Fre...
1   Francis Ford Coppola (dir.), Marlon Brando, Al...
2   Christopher Nolan (dir.), Christian Bale, Heat...
3   Francis Ford Coppola (dir.), Al Pacino, Robert...
4       Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb
..                                                ...
95  Thomas Vinterberg (dir.), Mads Mikkelsen, Thom...
96      Fritz Lang (dir.), Peter Lorre, Ellen Widmann
97  Alfred Hitchcock (dir.), Cary Grant, Eva Marie...
98  Alfred Hitchcock (dir.), James Stewart, Kim Novak
99  Elem Klimov (dir.), Aleksey Kravchenko, Olga M...

[100 rows x 5 columns]

In [43]:
#Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of
#    release) and make data frame.


from bs4 import BeautifulSoup
import requests
import re
import pandas as pd


# Downloading imdb top 250 movie's data
url = 'https://www.imdb.com/india/top-rated-indian-movies'
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")
movies = soup.select('td.titleColumn')
crew = [a.attrs.get('title') for a in soup.select('td.titleColumn a')]
ratings = [b.attrs.get('data-value')
        for b in soup.select('td.posterColumn span[name=ir]')]




# create a empty list for storing
# movie information
list = []

# Iterating over movies to extract
# each movie's details
for index in range(0,100):
    
    # Separating movie into: 'place',
    # 'title', 'year'
    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    place = movie[:len(str(index))-(len(movie))]
    data = {"place": place,
            "movie_title": movie_title,
            "rating": ratings[index],
            "year": year,
            "star_cast": crew[index],
            }
    list.append(data)

# printing movie details with its rating.


##.......##
df = pd.DataFrame(list)
print(df)

   place                  movie_title             rating  year  \
0      1   Rocketry: The Nambi Effect  8.485786320096842  2022
1      2                   Anbe Sivam  8.397879377265177  2003
2      3                      Golmaal  8.390262034166765  1979
3      4                     Jai Bhim   8.38517772962922  2021
4      5                      Nayakan   8.38452905658654  1987
..   ...                          ...                ...   ...
95    96              Rang De Basanti  8.014191708951078  2006
96    97                       Baasha   8.01231058896825  1995
97    98  Baahubali 2: The Conclusion   8.00783939363439  2017
98    99                       Masaan  8.007161087076355  2015
99    10                      Kahaani  8.005711424866748  2012

                                            star_cast
0                   Madhavan (dir.), Madhavan, Simran
1            Sundar C. (dir.), Kamal Haasan, Madhavan
2   Hrishikesh Mukherjee (dir.), Amol Palekar, Bin...
3         T.J. Gnanavel (dir.), Suriya, Lijo Mol Jose
4   Mani Ratnam (dir.), Kamal Haasan, Saranya Ponv...
..                                                ...
95  Rakeysh Omprakash Mehra (dir.), Aamir Khan, So...
96          Suresh Krishna (dir.), Rajinikanth, Nagma
97     S.S. Rajamouli (dir.), Prabhas, Rana Daggubati
98  Neeraj Ghaywan (dir.), Richa Chadha, Sanjay Mi...
99  Sujoy Ghosh (dir.), Vidya Balan, Parambrata Ch...

[100 rows x 5 columns]

In [521]:
#Write s python program to display list of respected former presidents of India(i.e. Name , Term of office)
#  from https://presidentofindia.nic.in/former-presidents.htm

from bs4 import BeautifulSoup
import requests
import re
import pandas as pd

url="https://presidentofindia.nic.in/former-presidents.htm"
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")
test=[]

President_Name=[]
Name=soup.find_all('h3')
for i in Name:
    President_Name.append(i.text)
    
    
Terms=[]    
Term_of_Year=soup.find_all(attrs={'class':'presidentListing'})
for i in Term_of_Year:
    Terms.append(i.text.split(':')[1])
    

    
    
Data={'Presidents Name':President_Name,'Term of Office':Terms}

df=pd.DataFrame(Data)
df

,Presidents Name,Term of Office
0,Shri Ram Nath Kovind (birth - 1945),"25 July, 2017 to 25 July, 2022 \nhttps"
1,Shri Pranab Mukherjee (1935-2020),"25 July, 2012 to 25 July, 2017 \nhttp"
2,Smt Pratibha Devisingh Patil (birth - 1934),"25 July, 2007 to 25 July, 2012 \nhttp"
3,DR. A.P.J. Abdul Kalam (1931-2015),"25 July, 2002 to 25 July, 2007 \nhttp"
4,Shri K. R. Narayanan (1920 - 2005),"25 July, 1997 to 25 July, 2002 \n"
5,Dr Shankar Dayal Sharma (1918-1999),"25 July, 1992 to 25 July, 1997 \n"
6,Shri R Venkataraman (1910-2009),"25 July, 1987 to 25 July, 1992 \n"
7,Giani Zail Singh (1916-1994),"25 July, 1982 to 25 July, 1987 \n"
8,Shri Neelam Sanjiva Reddy (1913-1996),"25 July, 1977 to 25 July, 1982 \n"
9,Dr. Fakhruddin Ali Ahmed (1905-1977),"24 August, 1974 to 11 February, 1977\n"
10,Shri Varahagiri Venkata Giri (1894-1980),"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
11,Dr. Zakir Husain (1897-1969),"13 May, 1967 to 3 May, 1969\n"
12,Dr. Sarvepalli Radhakrishnan (1888-1975),"13 May, 1962 to 13 May, 1967\n"
13,Dr. Rajendra Prasad (1884-1963),"26 January, 1950 to 13 May, 1962\n"

In [184]:
#Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
# a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.




from bs4 import BeautifulSoup
import requests
import re
import pandas as pd


url = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

Test=[]
Country=[]
Rank=[]
Matches=[]
Points=[]
Rating=[]


TeamRank=soup.find('td',class_='rankings-block__banner--pos')
Rank.append(TeamRank.text)

TotalMatches=soup.find('td',class_='rankings-block__banner--matches')
Matches.append(TotalMatches.text)

TotalPoints=soup.find('td',class_='rankings-block__banner--points')
Points.append(TotalPoints.text)

TeamRatings=soup.find('td',class_='rankings-block__banner--rating u-text-right')
Rating.append(TeamRatings.text)


TeamRank=soup.findAll('td',class_='table-body__cell table-body__cell--position u-text-right')
for i in TeamRank:
    Rank.append(i.text)
    
TeamName=soup.find_all('span',class_='u-hide-phablet')
for i in TeamName:
    Country.append(i.text)
    
TotalMatches=soup.findAll('td',class_='table-body__cell u-center-text')

for i in TotalMatches:
        Test.append(i.text)
        
Matches.extend(Test[0:-1:2])
Points.extend(Test[1::2])


TeamRatings=soup.find_all('td',class_='table-body__cell u-text-right rating')
    
for i in TeamRatings:
    Rating.append(i.text)
    
Data={"Rank":Rank,"Country Name":Country,"Matches Played":Matches,"Total Points":Points,"Country Rating":Rating}


df=pd.DataFrame(Data)
df

In [319]:
#Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
# b) Top 10 ODI Batsmen along with the records of their team and rating.


from bs4 import BeautifulSoup
import requests
import re
import pandas as pd


url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting'
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

TestRank=[]
TestName=[]
TestCountry=[]
TestRating=[]
Rank=[]
Name=[]
Country=[]
Rating=[]

BatRank=soup.find('span',class_='rankings-block__pos-number')
TestRank.append(BatRank.text.split()[0])

BatName=soup.find('div',class_='rankings-block__banner--name-large')
TestName.append(BatName.text)

BatCountry=soup.find('div',class_='rankings-block__banner--nationality')
TestCountry.append(BatCountry.text.split()[0])

BatRating=soup.find('div',class_='rankings-block__banner--rating')
TestRating.append(BatRating.text)

BatRank=soup.findAll('span',class_='rankings-table__pos-number')
for i in BatRank:
    TestRank.append(i.text.split()[0])
    Rank=TestRank[0:10]

BatName=soup.find_all('td',class_='table-body__cell rankings-table__name name')
for i in BatName:
    TestName.append(i.text.split())
    Name=TestName[0:10]
    
BatCountry=soup.find_all('span',class_='table-body__logo-text')
for i in BatCountry:
    TestCountry.append(i.text.split()[0])
    Country=TestCountry[0:10]
    
    
BatRating=soup.find_all('td',class_='table-body__cell rating')
for i in BatRating:
    TestRating.append(i.text)
    Rating=TestRating[0:10]
    
    
Data={"Rank":Rank,"Player Name":Name,"Country Name":Country,"Player Ratings":Rating}

df=pd.DataFrame(Data)
df

  Rank                 Player Name Country Name Player Ratings
0    1                  Babar Azam          PAK            892
1    2               [Imam-ul-Haq]          PAK            815
2    3  [Rassie, van, der, Dussen]           SA            789
3    4         [Quinton, de, Kock]           SA            784
4    5              [Virat, Kohli]          IND            767
5    6             [Rohit, Sharma]          IND            763
6    7              [Ross, Taylor]           NZ            744
7    8             [David, Warner]          AUS            737
8    9           [Jonny, Bairstow]          ENG            732
9   10              [Aaron, Finch]          AUS            715

In [320]:
#Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
# c) Top 10 ODI bowlers along with the records of their team and rating.


from bs4 import BeautifulSoup
import requests
import re
import pandas as pd


url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling'
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

TestRank=[]
TestName=[]
TestCountry=[]
TestRating=[]
Rank=[]
Name=[]
Country=[]
Rating=[]



BatRank=soup.find('span',class_='rankings-block__pos-number')
TestRank.append(BatRank.text.split()[0])

BatName=soup.find('div',class_='rankings-block__banner--name-large')
TestName.append(BatName.text)

BatCountry=soup.find('div',class_='rankings-block__banner--nationality')
TestCountry.append(BatCountry.text.split()[0])

BatRating=soup.find('div',class_='rankings-block__banner--rating')
TestRating.append(BatRating.text)

BatRank=soup.findAll('span',class_='rankings-table__pos-number')
for i in BatRank:
    TestRank.append(i.text.split()[0])
    Rank=TestRank[0:10]

BatName=soup.find_all('td',class_='table-body__cell rankings-table__name name')
for i in BatName:
    TestName.append(i.text.split())
    Name=TestName[0:10]
    
BatCountry=soup.find_all('span',class_='table-body__logo-text')
for i in BatCountry:
    TestCountry.append(i.text.split()[0])
    Country=TestCountry[0:10]
    
    
BatRating=soup.find_all('td',class_='table-body__cell rating')
for i in BatRating:
    TestRating.append(i.text)
    Rating=TestRating[0:10]
    
    
Data={"Rank":Rank,"Player Name":Name,"Country Name":Country,"Player Ratings":Rating}

df=pd.DataFrame(Data)
df

  Rank           Player Name Country Name Player Ratings
0    1           Trent Boult           NZ            697
1    2     [Jasprit, Bumrah]          IND            682
2    3     [Shaheen, Afridi]          PAK            681
3    4     [Josh, Hazlewood]          AUS            679
4    5  [Mujeeb, Ur, Rahman]          AFG            676
5    6       [Mehedi, Hasan]          BAN            672
6    7         [Matt, Henry]           NZ            663
7    8      [Mohammad, Nabi]          AFG            657
8    9        [Rashid, Khan]          AFG            651
9   10       [Chris, Woakes]          ENG            640

In [321]:
#Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
# a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.



from bs4 import BeautifulSoup
import requests
import re
import pandas as pd


url = 'https://www.icc-cricket.com/rankings/womens/team-rankings/odi'
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

Test=[]
Country=[]
Rank=[]
Matches=[]
Points=[]
Rating=[]


TeamRank=soup.find('td',class_='rankings-block__banner--pos')
Rank.append(TeamRank.text)

TotalMatches=soup.find('td',class_='rankings-block__banner--matches')
Matches.append(TotalMatches.text)

TotalPoints=soup.find('td',class_='rankings-block__banner--points')
Points.append(TotalPoints.text)

TeamRatings=soup.find('td',class_='rankings-block__banner--rating u-text-right')
Rating.append(TeamRatings.text)


TeamRank=soup.findAll('td',class_='table-body__cell table-body__cell--position u-text-right')
for i in TeamRank:
    Rank.append(i.text)
    
TeamName=soup.find_all('span',class_='u-hide-phablet')
for i in TeamName:
    Country.append(i.text)
    
TotalMatches=soup.findAll('td',class_='table-body__cell u-center-text')

for i in TotalMatches:
        Test.append(i.text)
        
Matches.extend(Test[0:-1:2])
Points.extend(Test[1::2])


TeamRatings=soup.find_all('td',class_='table-body__cell u-text-right rating')
    
for i in TeamRatings:
    Rating.append(i.text)
    
Data={"Rank":Rank,"Country Name":Country,"Matches Played":Matches,"Total Points":Points,"Country Rating":Rating}


df=pd.DataFrame(Data)
df

,Rank,Country Name,Matches Played,Total Points,Country Rating
0,1,Australia,29,"4,837",\n 167\n ...
1,2,England,33,"4,046",123
2,3,South Africa,35,"4,157",119
3,4,India,32,"3,219",101
4,5,New Zealand,31,"3,019",97
5,6,West Indies,30,"2,768",92
6,7,Bangladesh,12,930,78
7,8,Pakistan,30,"1,962",65
8,9,Sri Lanka,11,495,45
9,10,Ireland,8,351,44
10,11,Zimbabwe,8,0,0

In [323]:
#Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
# b) Top 10 women’s ODI Batting players along with the records of their team and rating.

from bs4 import BeautifulSoup
import requests
import re
import pandas as pd


url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting'
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

TestRank=[]
TestName=[]
TestCountry=[]
TestRating=[]
Rank=[]
Name=[]
Country=[]
Rating=[]

BatRank=soup.find('span',class_='rankings-block__pos-number')
TestRank.append(BatRank.text.split()[0])

BatName=soup.find('div',class_='rankings-block__banner--name-large')
TestName.append(BatName.text)

BatCountry=soup.find('div',class_='rankings-block__banner--nationality')
TestCountry.append(BatCountry.text.split()[0])

BatRating=soup.find('div',class_='rankings-block__banner--rating')
TestRating.append(BatRating.text)

BatRank=soup.findAll('span',class_='rankings-table__pos-number')
for i in BatRank:
    TestRank.append(i.text.split()[0])
    Rank=TestRank[0:10]

BatName=soup.find_all('td',class_='table-body__cell rankings-table__name name')
for i in BatName:
    TestName.append(i.text.split())
    Name=TestName[0:10]
    
BatCountry=soup.find_all('span',class_='table-body__logo-text')
for i in BatCountry:
    TestCountry.append(i.text.split()[0])
    Country=TestCountry[0:10]
    
    
BatRating=soup.find_all('td',class_='table-body__cell rating')
for i in BatRating:
    TestRating.append(i.text)
    Rating=TestRating[0:10]
    
    
Data={"Rank":Rank,"Player Name":Name,"Country Name":Country,"Player Ratings":Rating}

df=pd.DataFrame(Data)
df

  Rank             Player Name Country Name Player Ratings
0    1            Alyssa Healy          AUS            785
1    2          [Beth, Mooney]          AUS            749
2    3       [Natalie, Sciver]          ENG            747
3    4      [Laura, Wolvaardt]           SA            732
4    5          [Meg, Lanning]          AUS            710
5    6       [Rachael, Haynes]          AUS            701
6    7    [Amy, Satterthwaite]           NZ            681
7    8       [Tammy, Beaumont]          ENG            667
8    9  [Chamari, Athapaththu]           SL            655
9   10      [Smriti, Mandhana]          IND            649

In [324]:
#Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
# c) Top 10 women’s ODI all-rounder along with the records of their team and rating.


from bs4 import BeautifulSoup
import requests
import re
import pandas as pd


url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling'
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

TestRank=[]
TestName=[]
TestCountry=[]
TestRating=[]
Rank=[]
Name=[]
Country=[]
Rating=[]

BatRank=soup.find('span',class_='rankings-block__pos-number')
TestRank.append(BatRank.text.split()[0])

BatName=soup.find('div',class_='rankings-block__banner--name-large')
TestName.append(BatName.text)

BatCountry=soup.find('div',class_='rankings-block__banner--nationality')
TestCountry.append(BatCountry.text.split()[0])

BatRating=soup.find('div',class_='rankings-block__banner--rating')
TestRating.append(BatRating.text)

BatRank=soup.findAll('span',class_='rankings-table__pos-number')
for i in BatRank:
    TestRank.append(i.text.split()[0])
    Rank=TestRank[0:10]

BatName=soup.find_all('td',class_='table-body__cell rankings-table__name name')
for i in BatName:
    TestName.append(i.text.split())
    Name=TestName[0:10]
    
BatCountry=soup.find_all('span',class_='table-body__logo-text')
for i in BatCountry:
    TestCountry.append(i.text.split()[0])
    Country=TestCountry[0:10]
    
    
BatRating=soup.find_all('td',class_='table-body__cell rating')
for i in BatRating:
    TestRating.append(i.text)
    Rating=TestRating[0:10]
    
    
Data={"Rank":Rank,"Player Name":Name,"Country Name":Country,"Player Ratings":Rating}

df=pd.DataFrame(Data)
df

  Rank             Player Name Country Name Player Ratings
0    1       Sophie Ecclestone          ENG            761
1    2        [Jess, Jonassen]          AUS            725
2    3         [Megan, Schutt]          AUS            722
3    4       [Shabnim, Ismail]           SA            722
4    5       [Jhulan, Goswami]          IND            644
5    6       [Ayabonga, Khaka]           SA            634
6    7  [Rajeshwari, Gayakwad]          IND            613
7    8      [Hayley, Matthews]           WI            612
8    9      [Katherine, Brunt]          ENG            601
9   10       [Marizanne, Kapp]           SA            598

In [534]:
#Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :
# i) Headline
# ii) Time
# iii) News Link



from bs4 import BeautifulSoup
import requests
import re
import pandas as pd


url = 'https://www.cnbc.com/world/?region=world'
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

HeadLine=[]
Time=[]
Link=[]


for i in soup.find_all('a',class_='LatestNews-headline'):
    HeadLine.append(i.text)
    
for i in soup.find_all('time',class_='LatestNews-timestamp'):
    Time.append(i.text)
    
for i in soup.find_all('a',class_='LatestNews-headline'):
    Link.append(i.get('href'))

    
Data={'News Headlines':HeadLine,'Time of News':Time,'Link for News':Link}

df=pd.DataFrame(Data)
df

,News Headlines,Time of News,Link for News
0,This 39-year-old makes $160K/month in passive ...,12 Min Ago,https://www.cnbc.com/2022/08/06/this-39-year-o...
1,Most of Buffett’s portfolio is tied up in just...,1 Hour Ago,https://www.cnbc.com/2022/08/06/most-of-warren...
2,5 tips for cutting down on credit card costs a...,1 Hour Ago,https://www.cnbc.com/2022/08/06/how-to-curb-cr...
3,This 41-year-old left the U.S. for Bangkok and...,2 Hours Ago,https://www.cnbc.com/2022/08/06/this-digital-n...
4,It's time to cash in on these attractive stock...,2 Hours Ago,https://www.cnbc.com/2022/08/06/goldman-analys...
5,Here's why getting fired from a job you hate c...,2 Hours Ago,https://www.cnbc.com/2022/08/06/therapist-gett...
6,'Stressed out' STD clinics struggle with surge...,2 Hours Ago,https://www.cnbc.com/2022/08/06/monkeypox-std-...
7,Want to build generational wealth? Avoid these...,2 Hours Ago,https://www.cnbc.com/2022/08/06/building-gener...
8,A.I.-powered drug hunters are nearing a pivota...,2 Hours Ago,https://www.cnbc.com/2022/08/06/ai-powered-dru...
9,The 2022 stock market doesn't have to repeat —...,2 Hours Ago,https://www.cnbc.com/2022/08/06/the-2022-stock...
10,"Berkshire reports operating earnings surge, bu...",2 Hours Ago,https://www.cnbc.com/2022/08/06/berkshire-hath...
11,Why the best states for business may be the wo...,3 Hours Ago,https://www.cnbc.com/2022/08/06/state-worker-p...
12,"Higher prices, skimpier portions and apps — ho...",3 Hours Ago,https://www.cnbc.com/2022/08/06/higher-prices-...
13,What to know before 'unretiring' if you're on ...,3 Hours Ago,https://www.cnbc.com/2022/08/06/social-securit...
14,Netflix is expanding its push into video games...,3 Hours Ago,https://www.cnbc.com/2022/08/06/netflixs-video...
15,There are 'more intelligent ways' for U.S. to ...,12 Hours Ago,https://www.cnbc.com/2022/08/06/speaker-pelosi...
16,California DMV accuses Tesla of deceptive mark...,15 Hours Ago,https://www.cnbc.com/2022/08/05/california-dmv...
17,Gig economy stocks pop after companies show st...,17 Hours Ago,https://www.cnbc.com/2022/08/05/uber-and-lyft-...
18,Twitter-Musk drama escalates in legal filings ...,17 Hours Ago,https://www.cnbc.com/2022/08/05/twitter-musk-d...
19,CNBC in 5 minutes: Here are all the stock call...,17 Hours Ago,https://www.cnbc.com/2022/08/05/cnbc-in-5-minu...
20,More Americans worked part-time last month as ...,18 Hours Ago,https://www.cnbc.com/2022/08/05/july-jobs-repo...
21,Big Oil is giving back tons of cash — and othe...,18 Hours Ago,https://www.cnbc.com/2022/08/05/investing-club...
22,"Investing Club: The week in review, the week a...",19 Hours Ago,https://www.cnbc.com/2022/08/05/investing-club...
23,Schumer says Sinema left 'no choice' but to cu...,19 Hours Ago,https://www.cnbc.com/2022/08/05/sinema-made-sc...
24,Danger ahead: The U.S. economy has yet to face...,19 Hours Ago,https://www.cnbc.com/2022/08/05/danger-ahead-t...
25,Wharton professor: The key to influencing peop...,19 Hours Ago,https://www.cnbc.com/2022/08/05/wharton-profes...
26,Retirees may be focusing on wrong risks to fin...,19 Hours Ago,https://www.cnbc.com/2022/08/05/retirees-may-b...
27,What to watch in the markets in the week ahead,19 Hours Ago,https://www.cnbc.com/2022/08/05/inflation-take...
28,Here are 5 stocks in our portfolio that can be...,20 Hours Ago,https://www.cnbc.com/2022/08/05/investing-club...
29,"SpaceX raises another $250 million in equity, ...",20 Hours Ago,https://www.cnbc.com/2022/08/05/elon-musks-spa...

In [336]:
#Write a python program to scrape the details of most downloaded articles from AI in last 90 days.
# https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
# Scrape below mentioned details :
# i) Paper Title
# ii) Authors
# iii) Published Date
# iv) Paper URL

from bs4 import BeautifulSoup
import requests
import re
import pandas as pd


url = 'https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles'
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

Test=[]
Title=[]
Writers=[]
Date=[]
Links=[]

Test=soup.find_all('h2',class_='sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR')
for i in Test:
    Title.append(i.text)
    
Test=soup.find_all('span',class_='sc-1w3fpd7-0 pgLAT')
for i in Test:
    Writers.append(i.text)
    
Test=soup.find_all('span',class_='sc-1thf9ly-2 bKddwo')
for i in Test:
    Date.append(i.text)
    
for i in soup.find_all('a',class_='sc-5smygv-0 nrDZj'):
    Links.append(i.get('href'))



Data={'Paper Title':Title,'Authors':Writers,'Published Date':Date,'Paper URL':Links}

df=pd.DataFrame(Data)
df

,Paper Title,Authors,Published Date,Paper URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

In [389]:
#Write a python program to scrape mentioned details from dineout.co.in :
# i) Restaurant name
# ii) Cuisine
# iii) Location
# iv) Ratings
# v) Image URL

from bs4 import BeautifulSoup
import requests
import re
import pandas as pd


url = 'https://www.dineout.co.in/delhi-restaurants/buffet-special'
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

Test=[]
Resturants=[]
Cuisine=[]
Location=[]
Stars=[]
Image=[]

Test=soup.find_all('a',class_='restnt-name ellipsis')
for i in Test:
    Resturants.append(i.text)

    
Test=soup.find_all('div',class_='restnt-loc ellipsis')
for i in Test:
    Location.append(i.text)
    
Test=soup.find_all('span',class_='double-line-ellipsis')
for i in Test:
    Cuisine.append(i.text.split()[6::])
    
    
Test=soup.find_all('div',class_='restnt-rating rating-4')
for i in Test:
    Stars.append(i.text)

for img in soup.find_all('img',class_='no-img'):
    Image.append(img.get('data-src'))

    
Data={'Resturants Name':Resturants,'Cuisine':Cuisine,'Location':Location,'Rating':Stars,'Image URL':Image}

df=pd.DataFrame(Data)
df

,Resturants Name,Cuisine,Location,Rating,Image URL
0,Castle Barbeque,"[Chinese,, North, Indian]","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"[North, Indian,, Asian,, Italian]","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Castle Barbeque,"[Chinese,, North, Indian]","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,Cafe Knosh,"[Italian,, Continental]","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"[North, Indian,, Chinese]","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"[North, Indian,, Italian]","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,"[North, Indian]","Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,"[North, Indian]","Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"[North, Indian,, Mughlai]","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...

In [339]:
#Write a python program to scrape the details of top publications from Google Scholar from
#   https://scholar.google.com/citations?view_op=top_venues&hl=en
# i) Rank
# ii) Publication
# iii) h5-index
# iv) h5-median

from bs4 import BeautifulSoup
import requests
import re
import pandas as pd


url = 'https://scholar.google.com/citations?view_op=top_venues&hl=en'
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

Test=[]
Rank=[]
Titles=[]
Avg=[]
Median=[]

Test=soup.find_all('td',class_='gsc_mvt_p')
for i in Test:
    Rank.append(i.text)
    
    

Test=soup.find_all('td',class_='gsc_mvt_t')
for i in Test:
    Titles.append(i.text)

    
Test=soup.find_all('a',class_='gs_ibl gsc_mp_anchor')
for i in Test:
    Avg.append(i.text)
    

Test=soup.find_all('span',class_='gs_ibl gsc_mp_anchor')
for i in Test:
    Median.append(i.text)


    
Data={'Rank':Rank,'Publication':Titles,'h5-Index':Avg,'h5-Median':Median}

df=pd.DataFrame(Data)
df

    Rank                                        Publication h5-Index h5-Median
0     1.                                             Nature      444       667
1     2.                The New England Journal of Medicine      432       780
2     3.                                            Science      401       614
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      389       627
4     5.                                         The Lancet      354       635
..   ...                                                ...      ...       ...
95   96.                       Journal of Business Research      145       233
96   97.                                   Molecular Cancer      145       209
97   98.                                            Sensors      145       201
98   99.                              Nature Climate Change      144       228
99  100.                    IEEE Internet of Things Journal      144       212

[100 rows x 4 columns]