In [1]:
# Imoprting required libraries needed for our requirements

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException , NoSuchElementException
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
import re

1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [19]:
# Creating an instance of webdriver for google chrome
driver=webdriver.Chrome(r"C:\Users\RoshanV\Desktop\Internship\Assignment 2\chromedriver.exe")
driver.maximize_window()
# Using webdriver we'll now open the amazon website in chrome
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")
driver.implicitly_wait(10)
time.sleep(5)


Rank=[]
Name=[]
Artist=[]
Upload=[]
Views=[]


Youtube=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td')
for i in Youtube[0:180:6]:
    Rank.append(i.text)

    
Youtube=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td')
for i in Youtube[1:180:6]:
    Name.append(i.text)
    
    
Youtube=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td')
for i in Youtube[2:180:6]:
    Artist.append(i.text)
    
    
Youtube=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td')
for i in Youtube[3:180:6]:
    Upload.append(i.text)
    
    
Youtube=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td')
for i in Youtube[4:180:6]:
    Views.append(i.text)




data={'Rank':Rank,'Name':Name,'Artist':Artist,'Views':Upload,'Upload Date':Views}

df=pd.DataFrame(data)

df

,Rank,Name,Artist,Views,Upload Date
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,11.24,"June 17, 2016"
1,2.,"""Despacito""[6]",Luis Fonsi,7.96,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,6.44,"October 8, 2016"
3,4.,"""Shape of You""[13]",Ed Sheeran,5.80,"January 30, 2017"
4,5.,"""See You Again""[15]",Wiz Khalifa,5.62,"April 6, 2015"
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,5.59,"May 2, 2018"
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,4.85,"March 6, 2014"
7,8.,"""Uptown Funk""[22]",Mark Ronson,4.68,"November 19, 2014"
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,4.61,"February 27, 2018"
9,10.,"""Gangnam Style""[24]",Psy,4.53,"July 15, 2012"
10,11.,"""Masha and the Bear – Recipe for Disaster""[29]",Get Movies,4.51,"January 31, 2012"
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,4.31,"May 24, 2018"
12,13.,"""Dame Tu Cosita""[31]",El Chombo,4.05,"April 5, 2018"
13,14.,"""Sugar""[32]",Maroon 5,3.75,"January 14, 2015"
14,15.,"""Roar""[33]",Katy Perry,3.64,"September 5, 2013"
15,16.,"""Counting Stars""[34]",OneRepublic,3.63,"May 31, 2013"
16,17.,"""Sorry""[35]",Justin Bieber,3.58,"October 22, 2015"
17,18.,"""Axel F""[36]",Crazy Frog,3.49,"June 16, 2009"
18,18.,"""Thinking Out Loud""[37]",Ed Sheeran,3.49,"October 7, 2014"
19,20.,"""Baa Baa Black Sheep""[38]",Cocomelon – Nursery Rhymes,3.35,"June 25, 2018"
20,21.,"""Dark Horse""[39]",Katy Perry,3.34,"February 20, 2014"
21,22.,"""Faded""[40]",Alan Walker,3.33,"December 3, 2015"
22,23.,"""Girls Like You""[41]",Maroon 5,3.33,"May 31, 2018"
23,24.,"""Let Her Go""[42]",Passenger,3.29,"July 25, 2012"
24,25.,"""Bailando""[43]",Enrique Iglesias,3.26,"April 11, 2014"
25,26.,"""Lean On""[44]",Major Lazer,3.25,"March 22, 2015"
26,27.,"""Perfect""[45]",Ed Sheeran,3.24,"November 9, 2017"
27,28.,"""Waka Waka (This Time for Africa)""[46]",Shakira,3.23,"June 4, 2010"
28,29.,"""Shake It Off""[47]",Taylor Swift,3.20,"August 18, 2014"
29,30.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,3.14,"January 26, 2018"

2. Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [5]:
# Creating an instance of webdriver for google chrome
driver=webdriver.Chrome(r"C:\Users\RoshanV\Desktop\Internship\Assignment 2\chromedriver.exe")
driver.maximize_window()
# Using webdriver we'll now open the amazon website in chrome
driver.get("https://www.bcci.tv/")
driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a').click()
driver.implicitly_wait(10)
#driver.find_element(By.XPATH,'//div[@class="col-lg-12 col-md-12 col-sm-12"]//button').click()
time.sleep(5)



Title=[]
Series=[]
Place=[]
Date=[]
Time=[]



BCCI=driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
for _ in range(15):
    driver.execute_script('window.scrollBy(0,15)')
for i in BCCI:
    Title.append(i.text)



BCCI=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
for _ in range(15):
    driver.execute_script('window.scrollBy(0,15)') 
for i in BCCI:
    Series.append(i.text)
    


BCCI=driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
for _ in range(15):
    driver.execute_script('window.scrollBy(0,15)')
for i in BCCI:
    Place.append(i.text)
    
    
    
BCCI=driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]')
for _ in range(15):
    driver.execute_script('window.scrollBy(0,15)')
for i in BCCI:
    Date.append(i.text)


    
BCCI=driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]')
for _ in range(15):
    driver.execute_script('window.scrollBy(0,15)')
for i in BCCI:
    Time.append(i.text)
    
    

# Using Pandas to Create DataFrame of the various Lists
Data={"Match Title":Title,"Series":Series,"Place":Place,"Date":Date,"Time":Time}

df=pd.DataFrame(Data)

df

,Match Title,Series,Place,Date,Time
0,1st T20I -,INDIA WOMEN TOUR OF ENGLAND T20 SERIES 2022,"Riverside Ground,",10 SEP 2022,11:30 PM IST
1,2nd T20I -,INDIA WOMEN TOUR OF ENGLAND T20 SERIES 2022,"County Ground,",13 SEP 2022,10:30 PM IST
2,3rd T20I -,INDIA WOMEN TOUR OF ENGLAND T20 SERIES 2022,"County Ground,",15 SEP 2022,11:00 PM IST
3,1st ODI -,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,"County Ground,",18 SEP 2022,3:30 PM IST
4,1st T20I -,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,"Punjab Cricket Association IS Bindra Stadium,",20 SEP 2022,7:30 PM IST
5,2nd ODI -,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,"St Lawrence Ground,",21 SEP 2022,5:30 PM IST
6,2nd T20I -,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,"Vidarbha Cricket Association Stadium,",23 SEP 2022,7:30 PM IST
7,3rd ODI -,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,"Lord's Cricket Ground,",24 SEP 2022,3:30 PM IST

3. Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
    Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [46]:
# Creating an instance of webdriver for google chrome
driver=webdriver.Chrome(r"C:\Users\RoshanV\Desktop\Internship\Assignment 2\chromedriver.exe")
driver.maximize_window()
# Using webdriver we'll now open the amazon website in chrome
driver.get("https://www.guru99.com/")
driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a').click()
driver.implicitly_wait(5)
driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a/strong').click()
time.sleep(5)


Name=[]
Description=[]

guru99=driver.find_elements(By.XPATH,'//p//strong')
for i in guru99:
    Name.append(i.text)


guru99=driver.find_elements(By.XPATH,'//div[@class="entry-content single-content"]//p')
for i in guru99:
    Description.append(i.text)


Details=[]
for i in range(2,43):
    Details.append(Description[i].split(':')[1])


Data={'Name':Name[1:42],'Description':Details}

df=pd.DataFrame(Data)

df

,Name,Description
0,1. ElementNotVisibleException:,This type of Selenium exception occurs when a...
1,2. ElementNotSelectableException:,This Selenium exception occurs when an elemen...
2,3. NoSuchElementException:,This Exception occurs if an element could not...
3,4. NoSuchFrameException:,This Exception occurs if the frame target to ...
4,5. NoAlertPresentException:,This Exception occurs when you switch to no p...
5,6. NoSuchWindowException:,This Exception occurs if the window target to...
6,7. StaleElementReferenceException:,This Selenium exception occurs happens when t...
7,8. SessionNotFoundException:,The WebDriver is acting after you quit the br...
8,9. TimeoutException:,Thrown when there is not enough time for a co...
9,10. WebDriverException:,This Exception takes place when the WebDriver...
10,11. ConnectionClosedException:,This type of Exception takes place when there...
11,12. ElementClickInterceptedException:,The command may not be completed as the eleme...
12,13. ElementNotInteractableException:,This Selenium exception is thrown when any el...
13,14. ErrorInResponseException:,This happens while interacting with the Firef...
14,15. ErrorHandler.UnknownServerException:,Exception is used as a placeholder in case if...
15,16. ImeActivationFailedException:,This expectation will occur when IME engine a...
16,17. ImeNotAvailableException:,It takes place when IME support is unavailable.
17,18. InsecureCertificateException:,Navigation made the user agent to hit a certi...
18,19. InvalidArgumentException:,It occurs when an argument does not belong to...
19,20. InvalidCookieDomainException:,This happens when you try to add a cookie und...
20,21. InvalidCoordinatesException:,This type of Exception matches an interacting...
21,22. InvalidElementStateException:,It occurs when command can’t be finished when...
22,23. InvalidSessionIdException:,This Exception took place when the given sess...
23,24. InvalidSwitchToTargetException:,This occurs when the frame or window target t...
24,25. JavascriptException:,This issue occurs while executing JavaScript ...
25,26. JsonException:,It occurs when you afford to get the session ...
26,27. NoSuchAttributeException:,This kind of Exception occurs when the attrib...
27,28. MoveTargetOutOfBoundsException:,It takes place if the target provided to the ...
28,29. NoSuchContextException:,ContextAware does mobile device testing.
29,30. NoSuchCookieException:,This Exception occurs when no cookie matching...
30,31. NotFoundException:,This Exception is a subclass of WebDriverExce...
31,32. RemoteDriverServerException:,This Selenium exception is thrown when the se...
32,33. ScreenshotException:,It is not possible to capture a screen.
33,34. SessionNotCreatedException:,It happens when a new session could not be su...
34,35. UnableToSetCookieException:,This occurs if a driver is unable to set a co...
35,36. UnexpectedTagNameException:,Happens if a support class did not get a web ...
36,37. UnhandledAlertException:,This expectation occurs when there is an aler...
37,38. UnexpectedAlertPresentException:,It occurs when there is the appearance of an ...
38,39. UnknownMethodException:,This Exception happens when the requested com...
39,40. UnreachableBrowserException:,This Exception occurs only when the browser i...
40,41. UnsupportedCommandException:,This occurs when remote WebDriver doesn’t sen...

4. Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [20]:
# Creating an instance of webdriver for google chrome
driver=webdriver.Chrome(r"C:\Users\RoshanV\Desktop\Internship\Assignment 2\chromedriver.exe")
driver.maximize_window()

# Using webdriver we'll now open the website in chrome
driver.get("https://www.statisticstimes.com/")

# Find using xpath
designation=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/button/i")
designation.click()

# Find using xpath
search=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
search.click()
driver.implicitly_wait(10)

driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()


rank=[]
state=[]
gsdp19=[]
gsdp18=[]
share=[]
gdp=[]



stats=driver.find_elements(By.XPATH,'//td[@class="data1"]')
for i in stats[0:32]:
    rank.append(i.text)

    
stats=driver.find_elements(By.XPATH,'//td[@class="name"]')
for i in stats[0:32]:
    state.append(i.text)


stats=driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')
for i in stats[0:32]:
    gsdp18.append(i.text)


stats=driver.find_elements(By.XPATH,'//td[@class="data"]')
for i in stats[0:160:5]:
    gsdp19.append(i.text)



stats=driver.find_elements(By.XPATH,'//td[@class="data"]')
for i in stats[1:160:5]:
    share.append(i.text)



stats=driver.find_elements(By.XPATH,'//td[@class="data"]')
for i in stats[2:160:5]:
    gdp.append(i.text)



data={'Rank':rank,'State':state,'GSDP(18-19)':gsdp19,'GSDP(18-17)':gsdp18,'Share':share,'GDP($billion)':gdp}

df=pd.DataFrame(data)

df

   Rank              State GSDP(18-19) GSDP(18-17)   Share GDP($billion)
0     1        Maharashtra           -   2,632,792  13.94%       399.921
1     2         Tamil Nadu   1,845,853   1,630,208   8.63%       247.629
2     3      Uttar Pradesh   1,687,818   1,584,764   8.39%       240.726
3     4            Gujarat           -   1,502,899   7.96%       228.290
4     5          Karnataka   1,631,977   1,493,127   7.91%       226.806
5     6        West Bengal   1,253,832   1,089,898   5.77%       165.556
6     7          Rajasthan   1,020,989     942,586   4.99%       143.179
7     8     Andhra Pradesh     972,782     862,957   4.57%       131.083
8     9          Telangana     969,604     861,031   4.56%       130.791
9    10     Madhya Pradesh     906,672     809,592   4.29%       122.977
10   11             Kerala           -     781,653   4.14%       118.733
11   12              Delhi     856,112     774,870   4.10%       117.703
12   13            Haryana     831,610     734,163   3.89%       111.519
13   14              Bihar     611,804     530,363   2.81%        80.562
14   15             Punjab     574,760     526,376   2.79%        79.957
15   16             Odisha     521,275     487,805   2.58%        74.098
16   17              Assam           -     315,881   1.67%        47.982
17   18       Chhattisgarh     329,180     304,063   1.61%        46.187
18   19          Jharkhand     328,598     297,204   1.57%        45.145
19   20        Uttarakhand           -     245,895   1.30%        37.351
20   21    Jammu & Kashmir           -     155,956   0.83%        23.690
21   22   Himachal Pradesh     165,472     153,845   0.81%        23.369
22   23                Goa      80,449      73,170   0.39%        11.115
23   24            Tripura      55,984      49,845   0.26%         7.571
24   25         Chandigarh           -      42,114   0.22%         6.397
25   26         Puducherry      38,253      34,433   0.18%         5.230
26   27          Meghalaya      36,572      33,481   0.18%         5.086
27   28             Sikkim      32,496      28,723   0.15%         4.363
28   29            Manipur      31,790      27,870   0.15%         4.233
29   30           Nagaland           -      27,283   0.14%         4.144
30   31  Arunachal Pradesh           -      24,603   0.13%         3.737
31   32            Mizoram      26,503      22,287   0.12%         3.385

5. Scrape the details of trending repositories on Github.com. Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [49]:
# Creating an instance of webdriver for google chrome
driver=webdriver.Chrome(r"C:\Users\RoshanV\Desktop\Internship\Assignment 2\chromedriver.exe")
driver.maximize_window()
# Using webdriver we'll now open the amazon website in chrome
driver.get("https://github.com/trending")
#driver.find_element(By.XPATH,'/html/body/div[1]/header/div[3]/nav/a[5]').click()
driver.implicitly_wait(5)



title=[]
description=[]
counts=[]
language=[]


github=driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]//a')
for i in github:
    title.append(i.text)


github=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in github:
    description.append(i.text)


github=driver.find_elements(By.XPATH,'//a[@class="Link--muted d-inline-block mr-3"]')
for i in github:
    counts.append(i.text)


github=driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]')
for i in github:
    language.append(i.text)

    
    
data={"Repositary Title":title[:20],"Repository Description":description[:20],"Contributers Count":counts[:20],"Language Used":language[:20]}

df=pd.DataFrame(data)

df

,Repositary Title,Repository Description,Contributers Count,Language Used
0,microsoft / PowerToys,Windows system utilities to maximize productivity,"77,473",C#
1,sd-webui / stable-diffusion-webui,Stable Diffusion web UI,"4,410",Python
2,IdreesInc / Monocraft,A programming font based on the typeface used ...,"2,653",Rust
3,Wilfred / difftastic,a structural diff that understands syntax 🟥🟩,290,Java
4,apache / incubator-streampark,"StreamPark, Make stream processing easier! eas...","3,052",Dart
5,zhanymkanov / fastapi-best-practices,FastAPI Best Practices and Conventions we used...,32,Rust
6,gskinnerTeam / flutter-wonderous-app,A showcase app for the Flutter SDK. Wonderous ...,"11,825",Python
7,valence-rs / valence,A Rust framework for building Minecraft servers.,170,Jupyter Notebook
8,AUTOMATIC1111 / stable-diffusion-webui,Stable Diffusion web UI,"2,092",TeX
9,CompVis / stable-diffusion,《全局光照技术：从离线到实时渲染》,537,JavaScript
10,ElvisQin / thegibook,"Displays all hidden Channels, which can't be a...",999,Go
11,NotCapengeR / ShowHiddenChannelsReturns,A web-based UI for deploying and managing appl...,55,Scala
12,vmware-tanzu / kubeapps,Simple and Distributed Machine Learning,993,Python
13,microsoft / SynapseML,"A curated list of awesome Python frameworks, l...",185,Rust
14,vinta / awesome-python,Lightning-fast and Powerful Code Editor writte...,996,Python
15,lapce / lapce,deep learning for image processing including c...,32,Python
16,WZMIAOMIAO / deep-learning-for-image-processing,dbt enables data analysts and engineers to tra...,"1,238",C#
17,dbt-labs / dbt-core,Documentation for ASP.NET Core,115,PowerShell
18,dotnet / AspNetCore.Docs,GitHub Actions runner images,"19,744",HTML
19,actions / runner-images,A simple 1-click way to install and use Stable...,"2,808",Dart

6. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [8]:
# Creating an instance of webdriver for google chrome
driver=webdriver.Chrome(r"C:\Users\RoshanV\Desktop\Internship\Assignment 2\chromedriver.exe")
driver.maximize_window()
# Using webdriver we'll now open the amazon website in chrome
driver.get("https:/www.billboard.com/")
driver.find_element(By.XPATH,'/html/body/div[3]/header/div[2]/div/nav/ul/li[1]/a').click()
driver.implicitly_wait(5)


song=[]
artist=[]
lastrank=[]
peak=[]
weeks=[]

song.append(driver.find_element(By.XPATH,'/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[1]/h3').text)
artist.append(driver.find_element(By.XPATH,'/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[1]/span').text)


songs=driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]')
for i in songs:
    song.append(i.text)


songs=driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
for i in songs:
    artist.append(i.text)


songs=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]')
for i in songs[0::2]:
    lastrank.append(i.text)


songs=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max"]//span')
for i in songs:
    peak.append(i.text)


songs=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]')
for i in songs[1::2]:
    weeks.append(i.text)



data={'Song Name':song,'Artist Name':artist,'Last Week Rank':lastrank,'Peak Rank':peak,'Week on Board':weeks}

df=pd.DataFrame(data)

df

,Song Name,Artist Name,Last Week Rank,Peak Rank,Week on Board
0,As It Was,Harry Styles,1,1,22
1,Bad Habit,Steve Lacy,3,2,9
2,About Damn Time,Lizzo,2,1,20
3,Running Up That Hill (A Deal With God),Kate Bush,4,3,34
4,Sunroof,Nicky Youre & dazy,6,5,14
...,...,...,...,...,...
95,Thought You Should Know,Morgan Wallen,81,12,17
96,2 Be Loved (Am I Ready),Lizzo,95,84,3
97,Wait In The Truck,HARDY Featuring Lainey Wilson,-,98,1
98,La Corriente,Bad Bunny & Tony Dize,87,32,14
99,"Bzrp Music Sessions, Vol. 52",Bizarrap & Quevedo,82,82,4

7. Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location


Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [86]:
# Creating an instance of webdriver for google chrome
driver=webdriver.Chrome(r"C:\Users\RoshanV\Desktop\Internship\Assignment 2\chromedriver.exe")
driver.maximize_window()

# Using webdriver we'll now open the website in chrome
driver.get("https://www.naukri.com/naukri-dot-com-recruiters")

# Find using xpath
designation=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/div/form/div[1]/div/div[1]/div[1]/div[2]/input")
designation.send_keys('Data Science') # Typing Data Science

# Find using xpath
search=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/div/form/div[1]/button')
search.click()


# Making empty list for our data to be dumped
JobDesignation=[]
JobLoc=[]
CompanyName=[]
skills=[]
Name=[]

time.sleep(10)

# Extracting Data from The Website using XPATH and Dumping it in respective Lists

jtt=driver.find_elements(By.XPATH,'//span[@class="ellipsis clr"]')
for i in jtt:
    title=i.text
    JobDesignation.append(title)
    
jlt=driver.find_elements(By.XPATH,'//small[@class="ellipsis"]')
for i in jlt:
    location=i.text
    JobLoc.append(location)
    
cnt=driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')
for i in cnt:
    skill=i.text
    skills.append(skill)
    
cnt=driver.find_elements(By.XPATH,'//a[@class="ellipsis"]')
for i in cnt[1::2]:
    compname=i.text
    CompanyName.append(compname)
    
ret=driver.find_elements(By.XPATH,'//span[@class="fl ellipsis"]')
for i in ret:
    exp=i.text
    Name.append(exp)
    


# Using Pandas to Create DataFrame of the various Lists

df=pd.DataFrame({'Name':Name,'Designation':JobDesignation,'Job_Location':JobLoc,'Skills':skills,'Company_Name':CompanyName})

df

,Name,Designation,Job_Location,Skills,Company_Name
0,Aakash Harit,HR Manager,Delhi,"Classic ASP Developer, Internet Marketing Prof...",Data Science Network
1,shravan Kumar Gaddam,Company Recruiter,Hyderabad / Secunderabad,".Net, Java, Data Science, Linux Administration...",Shore Infotech India Pvt. Ltd
2,MARSIAN Technologies LLP,Company HR,Pune,"Data Science, Artificial Intelligence, Machine...",MARSIAN Technologies LLP
3,Anik Agrawal,Company Recruiter,Ahmedabad,"Mean Stack, javascript, angularjs, mongodb, We...",Enerlytics Software Solutions Pvt Ltd
4,subhas patel,Founder CEO,UK - (london),"Hadoop, Spark, Digital Strategy, Data Architec...",LibraryXProject
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Vadodara / Baroda,"Analytics, Business Intelligence, Business Ana...",Apidel Technologies Division of Transpower
6,Institute for Financial Management and Resear,Programme Manager,Chennai,Data Science,IFMR
7,Priyanka Akiri,HR Manager,Hyderabad,"Oracle Dba, Data Science, Data Warehousing, ET...",Infinitive Software Solutions
8,Kalpana Dumpala,Executive Hiring,Hyderabad / Secunderabad,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Innominds Software
9,Balu Ramesh,HR Administrator,Trivandrum,"Machine Learning, algorithms, Go Getter, Compu...",Techvantage Systems Pvt Ltd
10,Mubarak,Company HR,Bengaluru / Bangalore,"Business Intelligence, Data Warehousing, Data ...",MoneyTap
11,Kushal Rastogi,Company HR,Mumbai,"Office Administration, Hr Administration, tele...",QuantMagnum Technologies Pvt. Ltd.
12,Vaishnavi Kudalkar,HR Executive,Mumbai,"Data Science, Python, Data Analytics",Codeachive learning
13,Mahesh Babu Channa,HR Team Lead,Hyderabad / Secunderabad,"Social Media, digital media maketing, seo, smm...",SocialPrachar.com
14,Kapil Devang,HR Manager,Bhopal,"Big Data, Hadoop, Data Analytics, Data Science",BISP Solutions
15,Dhruv Dev Dubey,Company Recruitment Head,Bengaluru / Bangalore,"Server Administartion, Verilog, Vhdl, Digital ...",Confidential
16,Sakshi Chhikara,Assistant Manager HR,Chandigarh,"React.js, Data Science, Java, Front End, Busin...",BIZ INFOTECNO PRIVATE LIMITED
17,Ruchi Dhote,Senior Executive Talent Acquisition,Pune,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Bristlecone India Ltd
18,Manisha Yadav,HR Executive,Navi Mumbai,"Telecalling, Client Interaction, Marketing, Re...",Easi Tax
19,Riya Rajesh,Manager Talent Acquisition,Cochin,Data Science,Novelworx Digital Solutions
20,Rashmi Bhattacharjee,HR Head,Delhi,"Corporate Sales, Software Development, Softwar...",AXESTRACK SOFTWARE SOLUTIONS PRIVATE...
21,Faizan Kareem,HR MANAGER,Hyderabad / Secunderabad,"Data Analytics, Data Science, Machine Learning...",FirstTech Consaltants Pvt.Ltd
22,Rithika dadwal,HR Recruiter,Pune,"Data Science, Machine Learning, Python, R, Dee...",Affine Analytics
23,Sandhya Khandagale,HR Recruiter,Pune,"Big Data, Data Science, Artificial Intelligenc...",Compumatrice Multimedia Pvt Ltd
24,Shaun Rao,Manager Human Resources,Pune,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Exela Technologies
25,Azahar Shaikh,Company Recruiter,Pune,"Data Science, Artificial Intelligence, Machine...",NEAL ANALYTICS SERVICES PVT LTD
26,Asif Lucknowi,Director,Indore,"Technical Training, Software Development, Pres...",Weupskill- Live Wire India
27,Manas,Lead Talent acquisition,Bengaluru / Bangalore,"Software Architecture, Vp Engineering, Product...",Autumn Leaf Consulting Services Private...
28,kumar,Proprietor,Bengaluru / Bangalore,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",trainin
29,Sunil Vedula,CEO,Delhi,"Signal Processing, Machine Learning, Neural Ne...",Nanoprecise Sci Corp
30,Rajat Kumar,Founder CEO,NaN,"Web Technologies, Project Management, Software...",R.S Consultancy &amp; Services
31,Jayanth N,Project Manager,Mysoru / Mysore,"Data Analytics, Managed Services, Team Leading...","Dollarbird Information Services Pvt, Ltd"
32,Avodha,Business Development Associate,Hyderabad / Secunderabad,"Ethical Hacking, Security Operations Center, S...",Nikitha Palaparthi
33,SREEDHAR,Recruitment Consultant,Hyderabad / Secunderabad,"Data Science, Machine Learning, Big Data Analy...",JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED
34,Daniel Vaz,Partner,Mumbai,"c++, Core Java, kdb, high frequency trading, h...",Aquis Search
35,Priya Khare,Senior Manager,Bengaluru / Bangalore,"Data Science, Artificial Intelligence, analyti...",Independent Consultant
36,Amit Sharma,Consultant,New Delhi,"Machine Learning, Artificial Intelligence, Dat...",ASCO consulting
37,Kanan,senior technology instructor,Chennai,"C, C++, Artificial Intelligence, Python, Php, ...",NY INST
38,Shashikant Chaudhary,HR Recruiter/HR Excutive,Aligarh,"Relationship Management, Retail Sales, Private...",3D India Staffing Research &amp; Consulting...
39,Brad,"Manager, Technical Recruiting",Salt Lake City,"Data Science, Software Engineering",O.C. Tanner
40,Rutuja Pawar,Technical Recruiter,Pune,"Data Science, Big Data Analytics, Digital Mark...",Demand Matrix
41,Madhusudhan Sridhar,Erp Implementer,Bengaluru / Bangalore,"Data Science, Recruitment, Salary",MADHUSUDHAN SRIDHAR
42,Ankit Sinha,Head Analytics,Mumbai,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Suntech Global
43,Gaurav Chouhan,Chief Technical Officer,Indore,"Software Development, Business Intelligence, B...",Strategic Consulting Lab
44,Rashi Kacker,Sr Product Manager,Bengaluru / Bangalore,"Data Science, Node.js, Angularjs",Impel Labs Pvt. Ltd.
45,Ashwini,Director Global Delivery,MYSORE,"Data Science, Media Marketing, Resource Planni...",MRP Advisers
46,Balaji Kolli,Co Founder,Hyderabad / Secunderabad,"Data Analysis, Learning, Data Science, Compute...",Saras Solutions India Pvt Ltd
47,Rajani Nagaraj,HR Manager,Bengaluru / Bangalore,"Java, Hadoop, R, Machine Learning, Spark, Flum...",WildJasmine
48,ROHIT Kumar,Architect,Mumbai,"Software Development, Core Java, Unit Testing,...",LNT Private Limited
49,Amir Chowdhury,Managing Partner,NaN,"Machine Learning, Data Science, Product Manage...",Granular.ai

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey- compare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [14]:
# Creating an instance of webdriver for google chrome
driver=webdriver.Chrome(r"C:\Users\RoshanV\Desktop\Internship\Assignment 2\chromedriver.exe")
driver.maximize_window()

# Using webdriver we'll now open the website in chrome
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

# Find using xpath
#search=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/div/form/div[1]/button')
#search.click()
driver.implicitly_wait(5)

book=[]
author=[]
volumes=[]
publisher=[]
genre=[]


books=driver.find_elements(By.XPATH,'//td[@class="left"]')
for i in books[1:500:5]:
    book.append(i.text)



books=driver.find_elements(By.XPATH,'//td[@class="left"]')
for i in books[1:500:5]:
    author.append(i.text)




books=driver.find_elements(By.XPATH,'//td[@class="left"]')
for i in books[2:500:5]:
    volumes.append(i.text)



books=driver.find_elements(By.XPATH,'//td[@class="left"]')
for i in books[3:500:5]:
    publisher.append(i.text)



books=driver.find_elements(By.XPATH,'//td[@class="last left"]')
for i in books:
    genre.append(i.text)



data={'Book Name':book,'Author Name':author,'Volume Sold':volumes,'Publisher':publisher,'Genre':genre}

df=pd.DataFrame(data)

df

,Book Name,Author Name,Volume Sold,Publisher,Genre
0,"Da Vinci Code,The","Da Vinci Code,The","Brown, Dan","5,094,805","Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Children's Fiction
2,Harry Potter and the Philosopher's Stone,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Children's Fiction
3,Harry Potter and the Order of the Phoenix,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Children's Fiction
4,Fifty Shades of Grey,Fifty Shades of Grey,"James, E. L.","3,758,936",Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Ghost,The","Harris, Robert","807,311",General & Literary Fiction
96,Happy Days with the Naked Chef,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Food & Drink: General

9. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [87]:
# Creating an instance of webdriver for google chrome
driver=webdriver.Chrome(r"C:\Users\RoshanV\Desktop\Internship\Assignment 2\chromedriver.exe")
driver.maximize_window()

# Using webdriver we'll now open the website in chrome
driver.get("https://www.imdb.com/list/ls095964455/")

# Find using xpath
#search=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/div/form/div[1]/button')
#search.click()
driver.implicitly_wait(5)


name=[]
year=[]
genre=[]
time=[]
votes=[]


github=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]//a')
for i in github:
    name.append(i.text)

github=driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
for i in github:
    year.append(i.text)

github=driver.find_elements(By.XPATH,'//span[@class="genre"]')
for i in github:
    genre.append(i.text)

github=driver.find_elements(By.XPATH,'//span[@class="runtime"]')
for i in github:
    time.append(i.text)

github=driver.find_elements(By.XPATH,'//span[@name="nv"]')
for i in github:
    votes.append(i.text)



data={"Name":name,"Year Span":year,"Genre":genre,"Run Time":time,"Votes":votes}

df=pd.DataFrame(data)

df

,Name,Year Span,Genre,Run Time,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,"2,045,362"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,"1,142,099"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,"967,113"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,"288,582"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,"248,152"
...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,"49,506"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,"60,501"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,"194,620"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,"40,995"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,"236,003"

10. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [17]:
# Creating an instance of webdriver for google chrome
driver=webdriver.Chrome(r"C:\Users\RoshanV\Desktop\Internship\Assignment 2\chromedriver.exe")
driver.maximize_window()

# Using webdriver we'll now open the website in chrome
driver.get("https://archive.ics.uci.edu/")

# Find using xpath
search=driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/span/b/a')
search.click()
driver.implicitly_wait(5)


name=[]
datatype=[]
task=[]
attributetype=[]
instances=[]
attributenumber=[]
year=[]


github=driver.find_elements(By.XPATH,'//p[@class="normal"]//b//a')
for i in github:
    name.append(i.text)


github=driver.find_elements(By.XPATH,'//table[@border="1"]//tbody//tr//td//p')
for i in github[8:4360:7]:
    datatype.append(i.text)


github=driver.find_elements(By.XPATH,'//table[@border="1"]//tbody//tr//td//p')
for i in github[9:4360:7]:
    task.append(i.text)


github=driver.find_elements(By.XPATH,'//table[@border="1"]//tbody//tr//td//p')
for i in github[10:4360:7]:
    attributetype.append(i.text)


github=driver.find_elements(By.XPATH,'//table[@border="1"]//tbody//tr//td//p')
for i in github[11:4360:7]:
    instances.append(i.text)



github=driver.find_elements(By.XPATH,'//table[@border="1"]//tbody//tr//td//p')
for i in github[12:4360:7]:
    attributenumber.append(i.text)


github=driver.find_elements(By.XPATH,'//table[@border="1"]//tbody//tr//td//p')
for i in github[13::7]:
    year.append(i.text)





data={'Dataset Name':name,'Data Type':datatype,'Default Task':task,'Attribute Type':attributetype,'Number of Instances':instances,'Attribute Number':attributenumber,'Year':year}

df=pd.DataFrame(data)

df

,Dataset Name,Data Type,Default Task,Attribute Type,Number of Instances,Attribute Number,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021