# Assignment on Web-Scrapping using Selenium

In [1]:
# Imoprting required libraries needed for our requirements

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException , NoSuchElementException
from selenium.webdriver.common.by import By
import time

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
    have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
    jobs data.
    This task will be done in following steps:
        1. First get the webpage https://www.naukri.com/
        2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
            location” field.
        3. Then click the search button.
        4. Then scrape the data for the first 10 jobs results you get.
        5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [29]:
# Creating an instance of webdriver for google chrome
driver=webdriver.Chrome(r"C:\Users\RoshanV\Desktop\Internship\Assignment 2\chromedriver.exe")
# Using webdriver we'll now open the website in chrome
driver.get("http://www.naukri.com")

designation=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[1]/div/div/div/input")
designation.send_keys('Data Analyst')
# Find using xpath
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
location.send_keys('Bangalore')
# Find using xpath
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search.click()

# Making empty list for our data to be dumped
JobDesignation=[]
JobLoc=[]
CompanyName=[]
Required_Exp=[]

time.sleep(10)


# Extracting Data from The Website using XPATH and Dumping it in respective Lists

jtt=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in jtt[0:10]:
    title=i.text
    JobDesignation.append(title)
    
jlt=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in jlt[0:10]:
    location=i.text
    JobLoc.append(location)
    
cnt=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in cnt[0:10]:
    compname=i.text
    CompanyName.append(compname)
    
ret=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in ret[0:10]:
    exp=i.text
    Required_Exp.append(exp)
    
# Using Pandas to Create DataFrame of the various Lists
df=pd.DataFrame({'Job_Title':JobDesignation,'Job_Location':JobLoc,'Company_Name':CompanyName,'Experience_Requuired':Required_Exp})

df

,Job_Title,Job_Location,Company_Name,Experience_Requuired
0,Data Analyst,Bangalore/Bengaluru,Bayer,2-5 Yrs
1,Senior Data Analyst,Bangalore/Bengaluru,Optum,5-7 Yrs
2,Reference Data Analyst,Bangalore/Bengaluru,Deutsche Bank,2-5 Yrs
3,Data Analyst,Bangalore/Bengaluru,Cargill,3-5 Yrs
4,"Data Analyst, plsql, Tableau, Informatica","Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Capgemini,3-8 Yrs
5,Senior Data Analyst - SQL/Tableau,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Global Employees,7-12 Yrs
6,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,3-6 Yrs
7,Data Analyst - Data Visualization & Reporting,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Global Employees,5-10 Yrs
8,Data Analyst,Bangalore/Bengaluru,Bright Money,0-2 Yrs
9,Leap COE Intern(Data Analyst),Bangalore/Bengaluru,Info Origin Inc.,0-1 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
    have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
    This task will be done in following steps:
        1. First get the webpage https://www.naukri.com/
        2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
            location” field.
        3. Then click the search button.
        4. Then scrape the data for the first 10 jobs results you get.
        5. Finally create a dataframe of the scraped data.
    Note: All of the above steps have to be done in code. No step is to be done manually.

In [30]:

# Creating an instance of webdriver for google chrome
driver=webdriver.Chrome(r"C:\Users\RoshanV\Desktop\Internship\Assignment 2\chromedriver.exe")
# Using webdriver we'll now open the website in chrome
driver.get("http://www.naukri.com")
# Find using xpath
designation=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[1]/div/div/div/input")
designation.send_keys('Data Scientist') # Typing Data Scientist
# Find using xpath
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
location.send_keys('Bangalore') # Typing Banglore

search=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search.click()

# Making empty list for our data to be dumped
JobDesignation=[]
JobLoc=[]
CompanyName=[]
Required_Exp=[]

time.sleep(10)

# Extracting Data from The Website using XPATH and Dumping it in respective Lists

jtt=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in jtt[0:10]:
    title=i.text
    JobDesignation.append(title)
    
jlt=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in jlt[0:10]:
    location=i.text
    JobLoc.append(location)
    
cnt=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in cnt[0:10]:
    compname=i.text
    CompanyName.append(compname)
    
ret=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in ret[0:10]:
    exp=i.text
    Required_Exp.append(exp)
    

# Using Pandas to Create DataFrame of the various Lists
df=pd.DataFrame({'Job_Title':JobDesignation,'Job_Location':JobLoc,'Company_Name':CompanyName,'Experience_Requuired':Required_Exp})

df

,Job_Title,Job_Location,Company_Name,Experience_Requuired
0,Senior Manager - EmTech - Machine Learning - P&T,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",PwC,5-12 Yrs
1,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech,5-9 Yrs
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs
3,Data scientist _Tata Consultancy Services(Tcs),"Bangalore/Bengaluru, Kochi/Cochin, Indore, New...",TATA CONSULTANCY SERVICES (TCS),9-14 Yrs
4,Data Science Senior Analyst,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,2-5 Yrs
5,Job||Job Opening For AI Technologist - Data Sc...,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",Wipro,5-10 Yrs
6,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",NTT DATA Business Solutions Private Limited,4-9 Yrs
7,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Wipro,11-20 Yrs
8,Expert Data Scientist,"Bangalore/Bengaluru, Mumbai",United Phosphorus Limited,6-11 Yrs
9,BCAI - Senior Data Scientist,Bangalore/Bengaluru,Bosch Global Software Technologies,5-8 Yrs

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
    You have to use the location and salary filter.
    You have to scrape data for “Data Scientist” designation for first 10 job results.
    You have to scrape the job-title, job-location, company name, experience required.
    The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
    The task will be done as shown in the below steps:
        1. first get the webpage https://www.naukri.com/
        2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
        3. Then click the search button.
        4. Then apply the location filter and salary filter by checking the respective boxes
        5. Then scrape the data for the first 10 jobs results you get.
        6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [31]:

# Creating an instance of webdriver for google chrome
driver=webdriver.Chrome(r"C:\Users\RoshanV\Desktop\Internship\Assignment 2\chromedriver.exe")
driver.maximize_window()
# Using webdriver we'll now open the website in chrome
driver.get("https://www.naukri.com/")
driver.implicitly_wait(10)
# Find using xpath
designation=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[1]/div/div/div/input")
designation.send_keys('Data Scientist')
# Find using xpath
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search.click()

driver.find_element(By.XPATH,"//span[text()='Delhi / NCR']").click()

driver.find_element(By.XPATH,"//span[text()='3-6 Lakhs']").click()

# Making empty list for our data to be dumped
JobDesignation=[]
JobLoc=[]
CompanyName=[]
Required_Exp=[]

time.sleep(10)

# Extracting Data from The Website using XPATH and Dumping it in respective Lists
jtt=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in jtt[0:10]:
    title=i.text
    JobDesignation.append(title)
    
jlt=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in jlt[0:10]:
    location=i.text
    JobLoc.append(location)
    
cnt=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in cnt[0:10]:
    compname=i.text
    CompanyName.append(compname)
    
ret=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in ret[0:10]:
    exp=i.text
    Required_Exp.append(exp)
    

# Using Pandas to Create DataFrame of the various Lists
df=pd.DataFrame({'Job_Title':JobDesignation,'Job_Location':JobLoc,'Company_Name':CompanyName,'Experience_Requuired':Required_Exp})

df

,Job_Title,Job_Location,Company_Name,Experience_Requuired
0,Job||Job Opening For AI Technologist - Data Sc...,"New Delhi, Hyderabad/Secunderabad, Pune, Chenn...",Wipro,5-10 Yrs
1,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10 Yrs
2,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
3,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs
4,Chat-bot Developer / Data Scientist,"Mumbai, New Delhi, Bangalore/Bengaluru\n(WFH d...",Big Seo Buzz,2-7 Yrs
5,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz,3-7 Yrs
6,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
7,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",SECUREKLOUD TECHNOLOGIES,2-7 Yrs
8,Data Scientist,"Noida, Gurgaon/Gurugram, Jaipur",Celebal Technologies,1-5 Yrs
9,Data Scientist,Gurgaon/Gurugram,Webhelp India Private Limited,2-7 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
    1. Brand
    2. Product Description
    3. Price
    The attributes which you have to scrape is ticked marked in the below image.
    To scrape the data you have to go through following steps:
        1. Go to Flipkart webpage by url : https://www.flipkart.com/
        2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
            click the search icon
        3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
            required data as usual.
        4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
            click on it.
        5. Now scrape data from this page as usual
        6. Repeat this until you get data for 100 sunglasses.
Note: That all of the above steps have to be done by coding only and not manually.

In [28]:

# Creating an instance of webdriver for google chrome
driver=webdriver.Chrome(r"C:\Users\RoshanV\Desktop\Internship\Assignment 2\chromedriver.exe")
driver.maximize_window()
# Using webdriver we'll now open the flipkart website in chrome
driver.get("https://www.flipkart.com/")
driver.implicitly_wait(10)
# Find using xpath
close=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button').click()
driver.implicitly_wait(10)
# Find using xpath
search=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input").send_keys('sunglasses')
click=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button').click()

time.sleep(10)

# Making empty list for our data to be dumped
Brand=[]
Product_Description=[]
Price=[]
Discount=[]


# Extracting Data from The Website using XPATH and Dumping it in respective Lists

#Parameter for looping onto multiple tabs to extract data
start=0
end=3

for page in range(start,end):
    com=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in com:
        Brand.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]//span').click()
    time.sleep(5)

for page in range(start,end):
    dis=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in dis:
        Product_Description.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]//span').click()
    time.sleep(5)

for page in range(start,end):
    value=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in value:
        Price.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]//span').click()
    time.sleep(5)    
    
    
for page in range(start,end):
    off=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]//span')
    for i in off:
        Discount.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]//span').click()
    time.sleep(5)    
    
    
# Using Pandas to Create DataFrame of the various Lists

Data={'Brand':Brand[0:100],'Product_Discriptinon':Product_Description[0:100],'Price':Price[0:100],'Discount':Discount[0:100]}

df=pd.DataFrame(Data)

df

,Brand,Product_Discriptinon,Price,Discount
0,Fastrack,"UV Protection, Gradient Rectangular Sunglasses...",₹359,81% off
1,Fastrack,UV Protection Retro Square Sunglasses (Free Size),₹599,78% off
2,Fastrack,"by Lenskart Polarized, UV Protection Retro Squ...",₹599,52% off
3,Fastrack,UV Protection Round Sunglasses (53),₹749,80% off
4,PHENOMENAL,"UV Protection, Gradient Retro Square Sunglasse...",₹252,83% off
...,...,...,...,...
95,PIRASO,"UV Protection, Gradient Butterfly Sunglasses (62)",₹969,66% off
96,Fastrack,"Gradient, UV Protection Retro Square Sunglasse...",₹799,87% off
97,New Specs,"Polarized, UV Protection Wayfarer Sunglasses (61)",₹252,66% off
98,Fastrack,Mirrored Aviator Sunglasses (55),₹359,74% off
99,DAHAAZIL,"UV Protection, Gradient Retro Square Sunglasse...",₹296,70% off

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
    This task will be done in following steps:
    1. First get the webpage https://www.flipkart.com/
    2. Enter “iphone 11” in “Search” field .
    3. Then click the search button.
        You will reach to the below shown webpage .
        As shown in the above page you have to scrape the tick marked attributes.These are:
        1. Rating
        2. Review summary
        3. Full review
        4. You have to scrape this data for first 100 reviews.
Note: All the steps required during scraping should be done through code only and not manually.

In [35]:

# Creating an instance of webdriver for google chrome
driver=webdriver.Chrome(r"C:\Users\RoshanV\Desktop\Internship\Assignment 2\chromedriver.exe")
driver.maximize_window()
# Using webdriver we'll now open the flipkart website in chrome
driver.get("https://www.flipkart.com/")
driver.implicitly_wait(10)
# Find using xpath
close=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button').click()
driver.implicitly_wait(10)
# Find using xpath
search=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input").send_keys('iphone')
click=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button').click()
time.sleep(10)
# Find using xpath
driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[2]/div[1]/div[1]').click()
time.sleep(10)
driver.get("https://www.flipkart.com/apple-iphone-11-white-64-gb/p/itmfc6a7091eb20b?pid=MOBFWQ6BVWVEH3XE&lid=LSTMOBFWQ6BVWVEH3XEMXQMLO&marketplace=FLIPKART&q=iphone&store=search.flipkart.com%2Ftyy%2F4io&srno=s_1_1&otracker=search&otracker1=search&fm=organic&iid=8e57f974-8163-4000-ad39-c130783b0644.MOBFWQ6BVWVEH3XE.SEARCH&ppt=hp&ppn=homepage&ssid=vpzewiwbsw0000001660410983894&qH=0b3f45b266a97d70")
driver.implicitly_wait(10)
# Find using xpath
driver.find_element(By.XPATH,'//div[@class="_3UAT2v _16PBlm"]//span').click()


# Making empty list for our data to be dumped
Rating=[]
Review=[]
Full_Summary=[]


# Extracting Data from The Website using XPATH and Dumping it in respective Lists

#Parameter for looping onto multiple tabs to extract data
start=0
end=10
time.sleep(10)
for page in range(start,end):
    stars=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in stars:
        Rating.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]//span').click()
    time.sleep(5)
    
    
for page in range(start,end):
    summary=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in summary:
        Review.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]//span').click()
    time.sleep(5)
    
    
for page in range(start,end):
    details=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in details:
        Full_Summary.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]//span').click()
    time.sleep(5)
  

 
# Using Pandas to Create DataFrame of the various Lists
    
Data={"Rating":Rating,"Review":Review,"Full_Summary":Full_Summary}

df=pd.DataFrame(Data)
df

,Rating,Review,Full_Summary
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Highly recommended,What a camera .....just awesome ..you can feel...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
96,5,Terrific,Really worth of money. i just love it. It is t...
97,5,Wonderful,This is my first ever I phone. Before this I w...
98,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
99,5,Classy product,Totally in love with this ❤ the camera quality...

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
    search field.
    You have to scrape 4 attributes of each sneaker:
        1. Brand
        2. Product Description
        3. Price
    As shown in the below image, you have to scrape the tick marked attributes.
Note: All the steps required during scraping should be done through code only and not manually.

In [26]:

# Creating an instance of webdriver for google chrome
driver=webdriver.Chrome(r"C:\Users\RoshanV\Desktop\Internship\Assignment 2\chromedriver.exe")
driver.maximize_window()
# Using webdriver we'll now open the flipkart website in chrome
driver.get("https://www.flipkart.com/")
driver.implicitly_wait(10)
# Find using xpath
close=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button').click()
driver.implicitly_wait(10)
# Find using xpath
search=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input").send_keys('sneakers')
click=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button').click()

time.sleep(10)

# Making empty list for our data to be dumped
Brand=[]
Product_Description=[]
Price=[]
Discount=[]


# Extracting Data from The Website using XPATH and Dumping it in respective Lists

#Parameter for looping onto multiple tabs to extract data
start=0
end=3

for page in range(start,end):
    com=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in com:
        Brand.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]//span').click()
    time.sleep(5)

for page in range(start,end):
    dis=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in dis:
        Product_Description.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]//span').click()
    time.sleep(5)

for page in range(start,end):
    value=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in value:
        Price.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]//span').click()
    time.sleep(5)    
    
    
for page in range(start,end):
    off=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]//span')
    for i in off:
        Discount.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]//span').click()
    time.sleep(5)    
    
    
# Using Pandas to Create DataFrame of the various Lists    
Data={'Brand':Brand[0:100],'Product_Discriptinon':Product_Description[0:100],'Price':Price[0:100],'Discount':Discount[0:100]}

df=pd.DataFrame(Data)

df

,Brand,Product_Discriptinon,Price,Discount
0,aadi,YODDHA High top elevated high Street Fashion S...,₹374,50% off
1,KWIK FIT,Sneakers For Men,₹397,72% off
2,ONECENTRE,Sneakers For Men,₹299,53% off
3,Layasa,Puma Rebound LayUp SL Sneakers For Men,₹228,48% off
4,Deals4you,Sneakers For Men,₹394,54% off
...,...,...,...,...
95,BRUTON,Series 7 Sneakers For Men,₹319,60% off
96,ASTEROID,411 Casual Sneakers For Men,₹499,67% off
97,RED TAPE,Sneakers For Women,"₹1,299",52% off
98,Creer,Sneakers For Men,₹298,60% off
99,Layasa,Sneakers For Men,₹199,62% off

Q7: Go to the link - https://www.myntra.com/shoes
    Set second Price filter and Color filter to “Black”, as shown in the below image.
    And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
    description, price of the shoe as shown in the below image.

Note: Applying the filter and scraping the data, everything should be done through code only and there
        should not be any manual step.

In [25]:

# Creating an instance of webdriver for google chrome
driver=webdriver.Chrome(r"C:\Users\RoshanV\Desktop\Internship\Assignment 2\chromedriver.exe")
driver.maximize_window()
# Using webdriver we'll now open the website in chrome
driver.get("http://www.myntra.com/shoes")
# Find using xpath
driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label').click()
time.sleep(5)
# Find using xpath
driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label').click()

# Making empty list for our data to be dumped
Brand=[]
Discription=[]
Price=[]

time.sleep(5)


# Extracting Data from The Website using XPATH and Dumping it in respective Lists

#Parameter for looping onto multiple tabs to extract data
start=0
end=2


for page in range(start,end):
    com=driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
    for i in com:
        Brand.append(i.text)
    next_button=driver.find_element(By.XPATH,'//li[@class="pagination-next"]//a').click()
    time.sleep(5)
    


for page in range(start,end):
    detail=driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
    for i in detail:
        Discription.append(i.text)
    next_button=driver.find_element(By.XPATH,'//li[@class="pagination-next"]//a').click()
    time.sleep(5)
    
    

for page in range(start,end):
    rate=driver.find_elements(By.XPATH,'//div[@class="product-price"]')
    for i in rate:
        Price.append(i.text)
    next_button=driver.find_element(By.XPATH,'//li[@class="pagination-next"]//a').click()
    time.sleep(5)
    
    
    
# Using Pandas to Create DataFrame of the various Lists    
Data={'Brand':Brand,'Discription':Discription,'Price':Price}

df=pd.DataFrame(Data)

df

,Brand,Discription,Price
0,Skechers,Cabo WP Riding Boots,Rs. 8449Rs. 12999(35% OFF)
1,ADIDAS Originals,Women Leather Heeled Mules,Rs. 6999
2,Nike,Leather Block Sandals,Rs. 6990
3,Nike,Evoride 3 Running Shoes,Rs. 11999
4,Nike,Men Leather Sneakers,Rs. 11990
...,...,...,...
95,ADIDAS,High-Top Platform Heeled Boots,Rs. 8119Rs. 13999(42% OFF)
96,ADIDAS,Women High-Top Heeled Boots,Rs. 7999
97,Puma,Heavenly Omni-Heat,Rs. 7495Rs. 14990(50% OFF)
98,ALDO,Leather Metal Chain Boots,Rs. 8399Rs. 13999(40% OFF)
99,Birkenstock,Unisex Supernova Cushion 7,Rs. 11990

Q8: Go to webpage https://www.amazon.in/
    Enter “Laptop” in the search field and then click the search icon.
    Then set CPU Type filter to “Intel Core i7” as shown in the below image:
    After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
        1. Title
        2. Ratings
        3. Price

Note: All the steps required during scraping should be done through code only and not manually.

In [24]:

# Creating an instance of webdriver for google chrome
driver=webdriver.Chrome(r"C:\Users\RoshanV\Desktop\Internship\Assignment 2\chromedriver.exe")
driver.maximize_window()
# Using webdriver we'll now open the amazon website in chrome
driver.get("http://www.amazon.in")
driver.implicitly_wait(10)
# Find using xpath
driver.find_element(By.XPATH,'//div[@class="nav-search-field "]//input').send_keys("Laptop")
time.sleep(5)
# Find using xpath
driver.find_element(By.XPATH,'//div[@class="nav-search-submit nav-sprite"]//span').click()
# Find using xpath
driver.find_element(By.XPATH,'//li[@id="p_n_feature_thirteen_browse-bin/12598163031"]//span').click()


# Making empty list for our data to be dumped
Title=[]
Rating=[]
Price=[]


# Extracting Data from The Website using XPATH and Dumping it in respective Lists
model=driver.find_elements(By.XPATH,'//div[@class="a-section a-spacing-none puis-padding-right-small s-title-instructions-style"]//h2')
for i in model[0:10]:
    Title.append(i.text)
    
    
rate=driver.find_elements(By.XPATH,'//div[@class="a-row a-size-small"]')
for i in rate[0:10]:
    Rating.append(i.text)
    
    
cost=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in cost[0:10]:
    Price.append(i.text)
    
 


 # Using Pandas to Create DataFrame of the various Lists
Data={"Title":Title,"Rating":Rating,"Price":Price}

df=pd.DataFrame(Data)

df

                                               Title Rating     Price
0  Lenovo Ideapad Gaming 3 Intel Core i7 10th Gen...     22    59,990
1  Samsung Galaxy Book2 Intel 12th Gen core i7 39...     25    79,490
2  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...     22    54,845
3  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...     16    89,990
4  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...     15    87,990
5  Hp Pavilion X360 11Th Gen Intel Core I7 14 Inc...     22    82,400
6  Lenovo Yoga 7 Intel Evo Core i7 12th Gen 14"(3...      7  1,09,990
7  Acer Nitro 5 Gaming Laptop/12th Gen Intel Core...     23  1,04,990
8  ASUS TUF Gaming F15 (2022), 15.6-inch (39.62 c...      1  1,07,990
9  Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...     15    81,990

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
    location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
    This task will be done in following steps:
        1. First get the webpage https://www.ambitionbox.com/
        2. Click on the Job option as shown in the image
        3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
            “Data Scientist” and click on search button.
        4. You will reach to the following web page click on location and in place of “Search location” enter
            “Noida” and select location “Noida”.
        5. Then scrape the data for the first 10 jobs results you get on the above shown page.
        6. Finally create a dataframe of the scraped data.
Note: All the steps required during scraping should be done through code only and not manually.

In [18]:

# Creating an instance of webdriver for google chrome
driver=webdriver.Chrome(r"C:\Users\RoshanV\Desktop\Internship\Assignment 2\chromedriver.exe")
driver.maximize_window()
# Using webdriver we'll now open the website in chrome
driver.get("http://www.ambitionbox.com")
driver.implicitly_wait(10)
# Find using xpath
driver.find_element(By.XPATH,'/html/body/div[1]/nav[2]/div/ul/li[5]/a').click()
# Find using xpath
driver.find_element(By.XPATH,'//div[@class="search-company"]//span//input').send_keys('Data Scientist')
driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div[1]/div[1]/div/div/div/button/span').click()
# Find using xpath
driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/p').click()
time.sleep(5)
# Find using xpath
driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input').click()
driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input').send_keys('Noida')
time.sleep(5)
# Find using xpath
driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label').click()


# Making empty list for our data to be dumped
time.sleep(5)
Position=[]
Company_Name=[]
Location=[]


# Extracting Data from The Website using XPATH and Dumping it in respective Lists
model=driver.find_elements(By.XPATH,'//a[@class="title noclick"]')
for i in model[0:10]:
    Position.append(i.text)
    
time.sleep(5)
model=driver.find_elements(By.XPATH,'//p[@class="company body-medium"]')
for i in model[0:10]:
    Company_Name.append(i.text)
       

time.sleep(5)
model=driver.find_elements(By.XPATH,'//div[@class="entity loc"]//p')
for i in model[1:11]:
    Location.append(i.text)
    

    
# Using Pandas to Create DataFrame of the various Lists    
Data={"Designation":Position,"Company_Name":Company_Name,"Locations":Location}

df=pd.DataFrame(Data)

df

,Designation,Company_Name,Locations
0,Hiring Data Scientist #productbasecompany #CBRE,CBRE South Asia Pvt Ltd,"Hyderabad/Secunderabad, Gurgaon/Gurugram, Noida"
1,Data Scientist,Ericsson India Global Services Pvt. Ltd.,Noida
2,Data Scientist,GENPACT India Private Limited,"Ghaziabad, Gurgaon/Gurugram, Noida"
3,Data Scientist,Optum Global Solutions (India) Private Limited,Noida
4,Associate Manager - Data Scientist,Optum Global Solutions (India) Private Limited,Noida
5,Data Scientist,Ericsson India Global Services Pvt. Ltd.,Noida
6,Data Scientist,SOPRA STERIA INDIA LIMITED,"Chennai, Bengaluru/Bangalore, Noida"
7,Data Scientist - Noida/Bangalore,EXL Services.com ( I ) Pvt. Ltd.,"Bengaluru/Bangalore, Noida"
8,EY - Data Engineer - Data Integration/Modeling...,EY,"Pune, Bengaluru/Bangalore, Hyderabad/Secundera..."
9,Data Scientist Intern,CARE HEALTH INSURANCE LIMITED,"Faridabad, Delhi NCR, Gurgaon/Gurugram +1 more"

Q10: Write a python program to scrape the salary data for Data Scientist designation.
    You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
    The above task will be, done as shown in the below steps:
        1. First get the webpage https://www.ambitionbox.com/
        2. Click on the salaries option as shown in the image.
        3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and
            then click on “Data Scientist”.
            You have to scrape the data ticked in the above image.
        4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
            salary, minimum salary, maximum salary, experience required.
        5. Store the data in a dataframe.
Note: All the steps required during scraping should be done through code only and not manually.

In [23]:

# Creating an instance of webdriver for google chrome
driver=webdriver.Chrome(r"C:\Users\RoshanV\Desktop\Internship\Assignment 2\chromedriver.exe")
driver.maximize_window()
# Using webdriver we'll now open the website in chrome
driver.get("http://www.ambitionbox.com")
driver.implicitly_wait(10)
# Find using xpath
driver.find_element(By.XPATH,'/html/body/section[3]/div/div[1]/a').click()

# Find using xpath
driver.find_element(By.XPATH,'/html/body/div[1]/div/div/main/section[1]/div[2]/div[1]/span/input').send_keys('Data Scientist')
driver.find_element(By.XPATH,'/html/body/div[1]/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p').click()


# Making empty list for our data to be dumped
time.sleep(5)
Experience=[]
Company_Name=[]
Min_Salary=[]
Max_Salary=[]
Avg_Salary=[]


# Extracting Data from The Website using XPATH and Dumping it in respective Lists
exp=driver.find_elements(By.XPATH,'//div[@class="sbold-list-header"]')
for i in exp:
    Experience.append(i.text)
    
time.sleep(5)
model=driver.find_elements(By.XPATH,'//div[@class="company-info"]//a')
for i in model:
    Company_Name.append(i.text)
       

time.sleep(5)
min=driver.find_elements(By.XPATH,'//div[@class="value body-medium"]')
for i in min[0::2]:
    Min_Salary.append(i.text)

max=driver.find_elements(By.XPATH,'//div[@class="value body-medium"]')
for i in max[1::2]:
    Max_Salary.append(i.text)
    
time.sleep(5)
avg=driver.find_elements(By.XPATH,'//div[@class="average-indicator-wrapper"]//p')
for i in avg:
    Avg_Salary.append(i.text)
       

# Using Pandas to Create DataFrame of the various Lists
Data={"Company_Name":Company_Name,"Experience":Experience,"Min_Salary":Min_Salary,"Max_Salary":Max_Salary,"Avg_Salary":Avg_Salary}

df=pd.DataFrame(Data)

df

,Company_Name,Experience,Min_Salary,Max_Salary,Avg_Salary
0,Walmart\nData Scientist Salary,3-4 yrs experience (based on 22 salaries),₹ 25.0L,₹ 45.0L,₹ 31.7L
1,Ab Inbev\nData Scientist Salary,2-4 yrs experience (based on 53 salaries),₹ 15.0L,₹ 25.5L,₹ 19.7L
2,Optum\nData Scientist Salary,2-4 yrs experience (based on 48 salaries),₹ 11.0L,₹ 22.6L,₹ 16.5L
3,ZS\nData Scientist Salary,1-2 yrs experience (based on 33 salaries),₹ 11.0L,₹ 22.0L,₹ 15.7L
4,Fractal Analytics\nData Scientist Salary,2-4 yrs experience (based on 109 salaries),₹ 9.0L,₹ 23.0L,₹ 15.2L
5,Tiger Analytics\nData Scientist Salary,2-4 yrs experience (based on 65 salaries),₹ 9.0L,₹ 20.0L,₹ 14.7L
6,Legato Health Technologies\nData Scientist Salary,4 yrs experience (based on 11 salaries),₹ 11.0L,₹ 20.0L,₹ 14.5L
7,Tredence\nData Scientist Salary,3 yrs experience (based on 12 salaries),₹ 8.8L,₹ 17.5L,₹ 14.1L
8,UnitedHealth\nData Scientist Salary,2-4 yrs experience (based on 91 salaries),₹ 8.0L,₹ 20.5L,₹ 13.6L
9,Ford Motor\nData Scientist Salary,3-4 yrs experience (based on 21 salaries),₹ 10.0L,₹ 18.0L,₹ 13.5L